$color-background = #f4f4f4
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = rgba(0, 33, 31, .3)
$color-meta = rgba(0, 33, 31, 1)
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(0, 149, 141, 1)
$color-text = rgba(0, 33, 31, 1)
$color-accent-1 = rgba(0, 149, 141, 1)
$color-accent-2 = rgba(130, 125, 30, 1)
$color-accent-3 = rgba(255, 33, 31, .8)
$color-accent-4 = rgba(0, 149, 141, .1)
$color-quote = #cc2a41
$highlight = hexo-config("highlight") || "github"
